<% layout("layouts/boilerplate.ejs") -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h3>Add Listing</h3>
                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title : </label>
                        <input name="listing[title]" placeholder="Add a catchy title" id="title" class="form-control"
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description : </label>
                        <textarea id="description" placeholder="Enter description" name="listing[description]"
                            class="form-control" required></textarea>
                    </div>

                     <div class="mb-3">
                        <label for="imageURL" class="form-label">Upload Image : </label>
                        <input type="file" name="image" id="imageURL"
                            class="form-control" required>
                    </div>

                    <!-- <div class="mb-3">
                        <label for="fileName" class="form-label">Image fileName : </label>
                        <input type="text" name="listing[image][filename]" id="fileName"
                            placeholder="Enter Image fileName" class="form-control">
                    </div> -->

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price : </label>
                            <input type="number" id="price" name="listing[price]" placeholder="1200"
                                class="form-control" required>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country : </label>
                            <input type="text" name="listing[country]" id="country" placeholder="India"
                                class="form-control" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location : </label>
                        <input type="text" id="location" name="listing[location]" placeholder="Pune"
                            class="form-control" required>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-dark add-btn">Add</button>
                </form>

            </div>
        </div>
        <br><br>
    </body>